<div class="calculator-container">
  <h3 class="text-center mb-4">Ideally 30%</h3>

  <div class="form-group mb-3">
    <label for="creditLimit">Credit Limit:</label>
    <div class="input-group">
      <span class="input-group-text">$</span>
      <input type="number" [(ngModel)]="creditLimit" placeholder="Enter credit limit">
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="currentBalance">Current Balance:</label>
    <div class="input-group">
      <span class="input-group-text">$</span>
      <input type="number" [(ngModel)]="currentBalance" placeholder="Enter current balance">
  </div>
</div>

  <div class="form-group mb-3">
    <label for="targetUtilization">Target Utilization:</label>
     <input type="number" [(ngModel)]="targetUtilization" placeholder="Enter target utilization">(%)
  </div>

  <button (click)="calculate()" class="btn btn-primary w-100">Calculate</button>

  <!-- Display the result -->
  <div *ngIf="paymentRequired !== null" class="mt-4 alert alert-success" [ngClass]="paymentRequired > 0 ? 'alert-success' : 'alert-info'">
    <strong *ngIf="paymentRequired > 0">Payment Required:</strong>
    <strong *ngIf="paymentRequired === 0">No Payment Required:</strong>
    {{ paymentRequired | currency }}
  </div>
</div>
