<h2><p class="text-center">Utilization Calculator</p></h2>
<app-calculator>
 <div><p>Note: To keep your reported balance low, make your payment before your statement closing date because that's when your card issuer sends your balance information to the credit bureaus.</p></div>    
  </div>
</app-calculator> <!-- Embedding CalculatorComponent -->
<footer class="text-center">
  <div><p>2025 © Coded by <span id="currentYear"></span><strong><a href="https://lilliangil.com/">Lillian Gil</a></strong></p>
    </div>
</footer>
